SETLIST {
    background-color: #87ceeb;
    width: 100%;
}
SONG {
    display: block;
    margin-bottom: 10pt;
    margin-left: 0;
    font-size: 20pt;
}
TITLE, GENRE, YEAR {
    display: block;
    color: #000000;
    margin-left: 20pt;
    font-size: 20pt;
}
