SETLIST {
    background-color: #ffffff;
    width: 100%;
}
SONG {
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}
TITLE, GENRE, YEAR {
    display: block;
    color: #ff0000;
    font-size: 20pt;
}